body{
font-family arial, sans-serif
}

.weather-app-wrapper{
    max-width: 600px;
  margin: 30px auto;

}

.weather-app {
  
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.weather-temperature{

text-align: center;
    margin-right: 10px;
    line-height: 1;
}

.weather-temperature img{


    margin-right: 10px;
    line-height: 1;
}

.weather-temperature strong{
    font-size: 64px;
    line-height: 1;
}

.weather-temperature.units{
    position: relative;
    font-size: 30px;
    top: -32px;
}

h1{
    color rgb(189, 193, 198)
color-scheme dark
display inline
font-size 14px;
font-weight 700;
height auto;
line-height 22px;
margin-bottom: 0;

}

ul{
    margin:0;
    padding:0;
}

li{
    list-style: none;
    color rgb(189, 193, 198);
color-scheme dark;
display inline;

font-size 14px;
font-weight 700;
height auto;
line-height 22px;
text-transform: capitalize;

}
